# Python / notebooks
__pycache__/
.ipynb_checkpoints/

# Data (keep big data out of git)
data/raw/
data/interim/
data/processed/
*.zip
*.tar.gz
*.pt
*.onnx
runs/
experiments/*
!experiments/.keep

# System
.DS_Store
.env
